header {
	background-color: lightgreen;
	padding: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
    color:#f7f7f7;
}
header h1 {
	font-size: 28px;
	margin: 0;
}
.search input[type="text"] {
	padding: 8px 12px;
	border: none;
	border-radius: 4px 0 0 4px;
	font-size: 16px;
}

.search button {
	padding: 8px 12px;
	border: none;
	border-radius: 0 4px 4px 0;
	background-color: green;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.categories {
	display: flex;
	align-items: center;
    background-color: aquamarine;
}

.categories button {
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	background-color: #f7f7f7;
	color: #333;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
}

.categories button:hover,
.categories button:focus {
	background-color: #007bff;
	color: #fff;
}

.highlighted-news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px;
    text-align: center;
}

.highlighted-news article {
	flex: 1 1 400px;
	background-color: #fff;
	padding: 20px;
	margin: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.highlighted-news article h2 {
	font-size: 24px;
	margin: 0;
}

.highlighted-news article p {
	margin-top: 10px;
	line-height: 1.4;
}

.highlighted-news article .category {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	font-size: 14px;
	padding: 6px 10px;
	border-radius: 4px;
	margin-top: 10px;
}

.all-news {
	margin: 20px;
    color: black;
	text-align:center;
}

.all-news h2 {
	font-size: 24px;
	margin: 0 0 20px;
}

.all-news article {
	background-color: lightblue;
	padding: 20px;
	margin: 10px 0;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.all-news article h3 {
	font-size: 20px;
	margin: 0;
}

.all-news article p {
	margin-top: 10px;
	line-height: 1.4;
}

.all-news article .category {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	font-size: 14px;
	padding: 6px 10px;
	border-radius: 4px;
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	.highlighted-news article {
		flex: 1 1 100%;
	}
}
.small-txt {
	margin: 20px 0;
  }
  input[type="checkbox"] {
	position: relative;
  
	width: 40px;
	height: 20px;
	background-color: #434343;
	appearance: none;   /* Hides certain features of widgets */ 
	outline: none;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s ease;
  } 
  
  input[type="checkbox"]:checked {
	background-color: #04ac2e;
  }
  
  input[type="checkbox"]::before {
	 content: '';
	 position: absolute ;
	 
	 width: 16px;
	 height: 16px;
	 background-color: #f2f2f2;
	 border-radius: 50%;
	 top: 2px;
	 left: 2px;
	 transition: 0.7s ease;
  }
  
  input[type="checkbox"]:checked::before {
	transform: translateX(20px);
	
	
  }
  .dark-mode {
	background-color: #252525;
	color: #f2f2f2;
  }